
{{#paper-card as |card|}}
  {{#card.title as |title|}}
    {{#title.text as |text|}}
      {{#text.headline}}{{model.title}}{{/text.headline}}
    {{/title.text}}
  {{/card.title}}

  <h3>Time Spent: {{model.timeSpent}}</h3>

  {{time-counter}}
{{/paper-card}}

{{outlet}}
